body {
    background-color: #ffffff;
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.1) 1px, transparent 1px),
        linear-gradient(180deg, rgba(0, 0, 0, 0.1) 1px, transparent 1px);
    background-size: 30px 30px;
    background-repeat: repeat;
}

.logo {
    width: 20%;
    margin-left: 15px;
}

.container{
    background-color: rgba(255, 255, 255);
    margin-top: 1%;
    padding: 1%;
    box-shadow: 0px 0px 5px rgba(128, 128, 128, 0.6);
}
.header-title {
    background-color: #bfab97;
    color: white;
    padding: 20px;
    text-align: center;
    border-radius: 0.25rem;
    margin-bottom: 20px;
}

.navbar {
    background-color: #bfab97;
    color: #ffffff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar .navbar-brand,
.navbar .nav-link,
.navbar .navbar-toggler-icon {
    color: #ffffff;
}

.container-fluid {
    margin-top: 20px;
}

.card {
    border: 1px solid #ddd;
    /* Borde de las tarjetas */
    border-radius: 5px;
    /* Bordes redondeados de las tarjetas */
}

.card-body {
    background-color: #ffffff;
    /* Fondo blanco para el contenido de la tarjeta */
    border: 1px solid #ddd;
    /* Borde de la tarjeta */
}

.message-card {
    border: 1px solid #ddd;
    border-radius: 5px;
    /* Bordes redondeados para los mensajes */
    padding: 15px;
    display: flex;
    align-items: start;
    background-color: #ffffff;
    /* Fondo blanco para los mensajes */
    margin-bottom: 15px;
}

.btn-custom-success {
    background-color: #bfab97;
    color: white;
    border: none;
}

.btn-custom-primary {
    background-color: #d6bfa6;
    /* Color marr�n m�s claro */
    color: white;
    border: none;
}

.btn-custom-success:hover,
.btn-custom-primary:hover {
    opacity: 0.9;
}

.dropdown-menu {
    background-color: #bfab97;
    border: none;
    color: #6f4e37;
}

.dropdown-item {
    color: #6f4e37;
}

.dropdown-item:hover {
    background-color: #d6bfa6;
    color: #6f4e37;
    /* Color de texto al pasar el rat�n */
}

.dropdown-item span {
    vertical-align: middle;
    margin-right: 8px;
}
.message-header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.card-header {
    background-color: #d6bfa6;
    color: #6f4e37;
}

.message-author {
    font-weight: bold;
    margin-right: 10px;
}

.message-text {
    margin-bottom: 10px;
}

.form-group {
    margin-top: 10px;
}

.btn-info {
    background-color: #bfab97;
    /* Color de fondo del botón */
    color: white;
    border: none;
}

.btn-info:hover {
    background-color: #d6bfa6;
    /* Color de fondo del botón al pasar el mouse */
}

.btn-dark {
    background-color: #bfab97;
    /* Color de fondo del botón */
    color: white;
    border: none;
}

.btn-dark:hover {
    background-color: #d6bfa6;
    /* Color de fondo del botón al pasar el mouse */
}

.avatar-img,
.card-avatar {
    border-radius: 50%;
}

.card-avatar {
    width: 50px;
    height: 50px;
}

.avatar-img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}

.msg-img {
    width: 95%;
    margin: 0 auto;
}

.navbar-nav .nav-link {
    font-size: 1.2em;
    margin-right: 20px;
    display: flex;
    align-items: center;
}

.navbar-nav .nav-link .material-icons-outlined {
    margin-right: 8px;
}

.message-content {
    margin-left: 15px;
    flex: 1;
}

.dropdown-menu {
    background-color: #bfab97;
    border: none;
    color: #6f4e37;
}

.dropdown-item {
    color: #6f4e37;
}

.dropdown-item:hover {
    background-color: #d6bfa6;
    color: #6f4e37;
    /* Color de texto al pasar el ratón */
}

.message-container {
    margin-bottom: 15px;
    /* Espacio entre los mensajes */
}

.product-img {
    width: 300px;
}

.avatarNoDefault {
    width: 300px;
    margin-right: 10px;
}
.avatar-img-profile {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin-right: 10px;
}

.margen {
	margin-right: 10px;
}